<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% block css %}
<link rel="stylesheet" type="text/css" media="screen" href="css/reset.css" />
<link rel="stylesheet" type="text/css" media="screen" href="css/common.css" />
{% endblock %}
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="verify-v1" content="" />
<meta name="y_key" content="" />

<script type="text/javascript" src="https://www.google.com/jsapi?key=ABQIAAAABWHoUYB9jDrGW3d3NAJY4hSGv0YyCGQSYcKjM71UiXB2MT5zehQoRORzCwFILYUGBg3OtC6b7ZZ_CQ"></script>
<script language="Javascript" type="text/javascript">
  //<![CDATA[
  google.load("jquery", "1");
  google.load("jqueryui", "1");
  //]]>
</script>
{% block javascript %}
{% endblock %}

<link href="/favicon.ico" rel="shortcut icon" />
<title>{% block title %}{% endblock %}Pray for Japan</title>
</head>
<body>

{% block content %}{% endblock %}

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-1167116-16']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<!-- Source Code Repository: http://github.com/Atrac613/pray-for-japan.appspot.com -->

</body>
</html>